In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('CustomerData.csv', engine='python')

In [4]:
data.head()

,customerNo,firstName,middleName,lastName,email,phone,address,zipCode,city,state,...,PRIMARYCONTACTPHONEEXTENSION,RECEIPTOPTION,SALESTAXGROUP,TRANSFERSTATUS,Phone_ProcessIndicator,Address_ProcessIndicator,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
0,1,MicheXXeNariD,NaN,NaN,a_zahidpk@hotmail.com,6099479471,GORNIAK drive,154966,Central and Western,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,2,DolBnNeville,NaN,NaN,mkaur@Dooney.com,33333333333,Unit 02,14th Floor,193361,Central and Western,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
2,3,DolBnNeville,NaN,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,4,DolBnNeville,NaN,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
4,5,MicheXXeNariD,NaN,NaN,a_zahidpk@hotmail.com,6099479471,GORNIAK drive,154966,parlin,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN

In [5]:
#Data Exploration ...............................
# Columns
data.columns

Index(['customerNo', 'firstName', 'middleName', 'lastName', 'email', 'phone',
       'address', 'zipCode', 'city', 'state',
       ...
       'PRIMARYCONTACTPHONEEXTENSION', 'RECEIPTOPTION', 'SALESTAXGROUP',
       'TRANSFERSTATUS', 'Phone_ProcessIndicator', 'Address_ProcessIndicator',
       'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105'],
      dtype='object', length=106)

In [9]:
# unique values
data['firstName'].unique()

array(['MicheXXeNariD', 'DolBnNeville', 'SysonnRaNos', ...,
       'RudyBrdANRthhyst', 'StRphhBniRINani', 'MelissaLong'], dtype=object)

In [12]:
# Describe
data.describe()

,customerNo,middleName,maritalStatus,gender,languagePreference,partyCountry,partyState,guestCustomerInd,billingAddress,billingZipCode,...,PRIMARYCONTACTPHONEEXTENSION,RECEIPTOPTION,SALESTAXGROUP,TRANSFERSTATUS,Phone_ProcessIndicator,Address_ProcessIndicator,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
count,20000.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,19956.0,24.0,15.0,4.0,1.0
mean,10000.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
std,5773.647028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
25%,5000.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
50%,10000.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
75%,15000.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
max,20000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0

In [19]:
# Duplicates
data[data[['email']].duplicated() == True].head()

,customerNo,firstName,middleName,lastName,email,phone,address,zipCode,city,state,...,PRIMARYCONTACTPHONEEXTENSION,RECEIPTOPTION,SALESTAXGROUP,TRANSFERSTATUS,Phone_ProcessIndicator,Address_ProcessIndicator,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
2,3,DolBnNeville,NaN,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,4,DolBnNeville,NaN,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
4,5,MicheXXeNariD,NaN,NaN,a_zahidpk@hotmail.com,6099479471,GORNIAK drive,154966,parlin,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
8,9,SysonnRaNos,NaN,NaN,khurram.saleem@visionetsystems.com,2123127618,Room 5183,51F Raffles City Centre,No.268 Xi Zang,65345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
9,10,SysonnRaNos,NaN,NaN,khurram.saleem@visionetsystems.com,2123127618,Room 5183,51F Raffles City Centre,No.268 Xi Zang,65345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN

In [30]:
data[data['middleName'].notnull()]

Empty DataFrame
Columns: [customerNo, firstName, middleName, lastName, email, phone, address, zipCode, city, state, country, county, addressValidFrom, addressValidTo, birthPlace, maritalStatus, gender, languagePreference, activeInd, companyType, organizationName, preferentialCustomer, partyType, partyCountry, partyState, guestCustomerInd, billingAddress, billingZipCode, billingCity, billingState, billingCountry, billingLatitude, billingLongitude, billingAddressValidFrom, billingAddressValidTo, shippingCity, shippingCountry, shippingState, shippingAddress, shippingAddressValidFrom, shippingAddressValidTo, shippingZipCode, primaryContactMobileInd, srcCreateDate, srcModifiedDate, syncStartDate, dax_DataAreaID, dax_CustomerGroupID, dax_currency, dax_isManuallyUnMerged, dax_UnMergedFromCustomerNo, isMDM, isMaster, isMerged, sourceSystem, loadDate, modifiedDate, GoldenCustomer, isManuallyMerged, DAX_ProcessInd, std_firstName, std_lastName, std_Address, IsValidZip, IsValidEmail, IsValidPhone, IsValidAddress, IsValidZipCode, IsValidCity, IsValidState, IsValidCountry, IsProcessed, SuggestedCity, SuggestedState, SuggestedCountry, FuzzyScore, MergeIndicator, ReceiptEmail, Delta_ProcessInd, std_email, std_phone, ADDRESSLOCATIONROLES, DEFINITIONGROUP, DELIVERYMODE, EMPLOYEERESPONSIBLENUMBER, BILLINGADDRESSDESCRIPTION, ISSELECTED, ITSCUSTDIRECTMAILCONTACTPREFID, ITSCUSTEMAILCONTACTPREFID, ITSCUSTRENTALCONTACTPREFID, ITSCUSTTELEPHONECONTACTPREFID, PARTYNUMBER, PRIMARYCONTACTEMAILDESCRIPTION, PRIMARYCONTACTFAX, PRIMARYCONTACTFAXPURPOSE, PRIMARYCONTACTFAXRECORDID, PRIMARYCONTACTPHONEEXTENSION, RECEIPTOPTION, SALESTAXGROUP, TRANSFERSTATUS, ...]
Index: []

[0 rows x 106 columns]

In [31]:
#Since all middle Names are NaN so we can delete that column
data = data.drop('middleName', axis=1)

In [32]:
data.head()

,customerNo,firstName,lastName,email,phone,address,zipCode,city,state,country,...,PRIMARYCONTACTPHONEEXTENSION,RECEIPTOPTION,SALESTAXGROUP,TRANSFERSTATUS,Phone_ProcessIndicator,Address_ProcessIndicator,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
0,1,MicheXXeNariD,NaN,a_zahidpk@hotmail.com,6099479471,GORNIAK drive,154966,Central and Western,Hong Kong,USA,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,2,DolBnNeville,NaN,mkaur@Dooney.com,33333333333,Unit 02,14th Floor,193361,Central and Western,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
2,3,DolBnNeville,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,Quarry Bay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,4,DolBnNeville,NaN,a_zahidpk@hotmail.com,6099479471,Unit 02,14th Floor,Kodak House II 39 Healthy Str,178189,Quarry Bay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
4,5,MicheXXeNariD,NaN,a_zahidpk@hotmail.com,6099479471,GORNIAK drive,154966,parlin,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN